# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch


# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
src/libmnblas.a
lib/libmnblas.a
examples/test_asum
examples/test_copy
examples/test_asum
examples/test_iamax
examples/test_iamin
src/libmnblas.a
src/libmnblas.a
lib/libmnblas.a
examples/test_asum
examples/test_iamax
examples/test_iamin
lib/libmnblas.a
lib/libmnblas.a
